<!DOCTYPE html>
<html lang="en">
<head>
  <title>Deesix - A Text-Based RPG</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://unpkg.com/@sakun/system.css" />
</head>
<body>
  <div class="window">
    <div class="title-bar">
      <h1 class="title">Welcome to Deesix</h1>
    </div>
    <div class="separator"></div>
    <div class="window-pane">
      Deesix is a text-based, single-player RPG that offers a rich, dynamic gaming experience. Set in an ever-changing, AI-generated fantasy world, the game hinges on intricate choice mechanics and a unique skill progression system. Players start in a challenging wilderness and advance to explore complex settlements, with quests and world dynamics that evolve based on player choices and actions. Every playthrough promises a distinct journey shaped by myriad decisions and an ever-adaptive environment.
    </div>
    <div class="separator"></div>
    <div class="window-pane">
      <button id="new-game" class="btn btn-default" routerLink="/new-game">New Game</button>
    </div>
  </div>
</body>
</html>